html(lang='en')
  head
  body
    meta(charset='utf-8')
    link(rel='icon', type='image/x-icon', href='/statics/favicon.ico')
    link(href='/statics/css/bk.css', rel='stylesheet', type='text/css')
    link(href='/statics/assets/bk-icon-2.0/iconfont.css', rel='stylesheet', type='text/css')
    link(href='/statics/css/login.css', rel='stylesheet', type='text/css')
    title 登录 | 清石智能IT管理系统-统一登录平台
    .page-content
      .login-from
        .logo-title
          img(src='/statics/img/logo/bk_login.png', height='32', width='311', alt='')
        .from-detail
          form#login-form(action='/login', method='post', onsubmit='return refresh_token()')
            input(type="hidden",name="_csrf",value=csrfToken)
            input(type="hidden",name="challenge",value=challenge)
            input(type="hidden",name="client",value=client)          

            .is-danger-tip
              if error
                p
                  i.bk-icon.icon-exclamation-circle-shape
                  span #{error}

            .form-login
              .user.group-control
                i.bk-icon.icon-user
                input#user(type='text', name='username', placeholder="请输入用户名")
              .pwd.group-control
                i.bk-icon.icon-password
                input#password.password(type='password', name='password', value='', placeholder="请输入用户密码")
              div
                input(type="hidden",name="grafana",value="0")              
                .btn-content.clearfix
                  button.login-btn 登录
                
      footer.footer
        p Copyright © 2012-2019 Clean Slate. All Rights Reserved.
        p 清石智能IT管理系统 版权所有
    // 浏览器验证
    .error-message-content.is-chrome
      span 您的浏览器非Chrome，建议您使用最新版本的Chrome浏览，以保证最好的体验效果
      i#close-chrome.bk-icon.icon-close-circle-shape

    script(src='/statics/assets/jquery-1.10.2.min.js')
    script(src='/statics/js/login.js')
