html(lang='en')
  head
  body
    meta(charset='utf-8')
    link(rel='icon', type='image/x-icon', href='/statics/favicon.ico')
    link(href='/statics/css/bk.css', rel='stylesheet', type='text/css')
    link(href='/statics/assets/bk-icon-2.0/iconfont.css', rel='stylesheet', type='text/css')
    link(href='/statics/css/login.css', rel='stylesheet', type='text/css')
    title 登录|蓝鲸智云统一登录平台
    .page-content
      .login-from
        .logo-title
          img(src='/statics/img/logo/bk_login.png', height='32', width='311', style="top:150px", alt='')
        .from-detail
          form#login-form(action='/login', method='post', onsubmit='return refresh_token()')
            input(type="hidden",name="_csrf",value=csrfToken)
            input(type="hidden",name="challenge",value=challenge)

            .is-danger-tip
              if error
                p
                  i.bk-icon.icon-exclamation-circle-shape
                  span #{error}

            .form-login
              .user.group-control
                i.bk-icon.icon-user
                input#user(type='email', name='email', placeholder="请输入用户名")
              .pwd.group-control
                i.bk-icon.icon-password
                input#password.password(type='password', name='password', value='', placeholder="请输入用户密码")
              div
                input(type="checkbox",id="remember",name="remember",value="1")
                label(for="remember") 30天免登陆
                .btn-content.clearfix
                  button.login-btn 登录
                
      footer.footer
        p
          a#contact_us.link QQ咨询(800802001)
          |                     
          a.link(href='http://bbs.bk.tencent.com/forum.php', target='_blank', hotrep='hp.footer.feedback') 蓝鲸论坛
          |                     
          a.link(href='http://bk.tencent.com/', target='_blank', hotrep='hp.footer.feedback') 蓝鲸官网
          |                     
          a.link(href='/', target='_blank', hotrep='hp.footer.feedback') 蓝鲸智云工作台
          |                     |
          a.follow-us(href='###')
            | 关注我们
            span.qr-box
              span.qr
                img(src='/statics/img/logo/qr.png')
                span.qr-caret
        p Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved.
        p 蓝鲸智云 版权所有
    // 浏览器验证
    .error-message-content.is-chrome
      span 您的浏览器非Chrome，建议您使用最新版本的Chrome浏览，以保证最好的体验效果
      i#close-chrome.bk-icon.icon-close-circle-shape

    script(src='/statics/assets/jquery-1.10.2.min.js')
    script(src='/statics/js/login.js')
